@model MVC_Project.Models.Sale

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<!-- Bootstrap alert for messages -->
@if (TempData["SuccessMessage"] != null)
{
    <div id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sale</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.stor_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stor_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.stor_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.ord_num, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ord_num, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ord_num, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.ord_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ord_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ord_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.qty, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.qty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.qty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.payterms, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.payterms, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.payterms, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.title_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <!--Buttons section-->
        <div class="form-group mb-3">
            <div class="d-flex justify-content-between">
                <!--Create Button-->
                @*<div class="col-md-offset-2 col-md-10">*@
                <input type="submit" value="Create" class="btn btn-success btn-lg px-3" />

                @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary btn-lg px-5*@" @*})*@
            </div>
        </div>
    </div>
}

<div>
    <!-- Back to List Button -->
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary btn-lg px-3" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Redirect to Index page when alert is closed
        var successAlert = document.getElementById('successAlert');
        if (successAlert) {
            successAlert.addEventListener('closed.bs.alert', function () {
                window.location.href = '@Url.Action("Index", "SalesMVC")';
            });
        }
    });
    </script>
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
