@model MVC_Project.Models.Title

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="card shadow-sm mb-4">
    <div class="card-header bg-info text-white">
        <h4>Title Information</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.title_id)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.title_id)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.title1)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.title1)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.type)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.type)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.pub_id)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.pub_id)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.price)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.advance)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.advance)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.royalty)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.royalty)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ytd_sales)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ytd_sales)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.notes)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.notes)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.pubdate)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.pubdate)
            </dd>

        </dl>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.title_id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
