@model MVC_Project.Models.Publisher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Publisher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pub_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pub_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pub_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pub_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.pub_id  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
